body {
  background-color: #ffffff;
  height: auto;
  margin: 0;

}

.page{
  width: auto;
  height: auto;
}

.pagewidth{
  width: 27vw;
  height: 100%;
  background-color: #158D8B;
  position: fixed;
}

.overskrift{
  background-color: #158D8B;
  width: 100%;
  height: 6.5vh;
  margin-top: 2vh
}

.overskrift2txt{
  margin-left: 10%;
  font-size: 1vw;
  color: #ffffff;
  font-family: Segoe UI;
  cursor: pointer;
}

.spase1{
  background-color: #273F72;
  width: 100%;
  height: 6.5vh;

}
.menutext{
  padding-top: calc(6.5vh - 1.5em);
  margin-left: 10%;
  font-size: 2vw;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-family: Segoe UI;
  cursor: pointer;
}

.spase2{
  background-color: #273F72;
  width: 100%;
  height: 45vh;
}

.spasemini{
  background-color: #273F72;
  width: 100%;
  height: 3.25vh;
}

.textmini{
  margin-left: 15%;
  font-size: 1vw;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-family: Segoe UI;
  cursor: pointer;
}

.katbox{
  display: none;
  margin: 0;
}


.closeicon{
  width: 1vw;
  height: 1vw;
  float: right;
  margin-right: 10%;
}
