

.overskrift{
  background-color: #317B79;
  width: 100%;
  height: 20vh;
  margin-top: 1%;
}

.spase1{
  background-color: #273F72;
  width: 100%;
  height: 6.5vh;

}
.menutext{
  margin-left: 10%;
  font-size: 30px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.spase2{
  background-color: #273F72;
  width: 100%;
  height: 44vh;
}
